<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Tell IIS to use Node.js -->
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
    </handlers>
    
    <!-- Default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.js" />
      </files>
    </defaultDocument>
    
    <!-- Rewrite rules for Socket.IO and WebSocket support -->
    <rewrite>
      <rules>
        <!-- Don't interfere with node-inspector -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^index.js\/debug[\/]?" />
        </rule>

        <!-- Socket.IO WebSocket support -->
        <rule name="SocketIO" stopProcessing="true">
          <match url="socket.io.*" />
          <action type="Rewrite" url="index.js"/>
        </rule>

        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="index.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- Configure static content -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
    </staticContent>
    
    <!-- Enable WebSocket support -->
    <webSocket enabled="true"/>
    
    <!-- Security -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration> 